html {
  background: #ebebeb;
}
.about-pages {
 background: #fff;
}
#header {
 box-shadow: 0 1px 0 rgba(0,0,0,.02);
}

.menu-bar .searching-unit {
  padding-top: 7px;
}

.pin,
.Board {
  box-shadow: 0 0px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0);
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: all .2s ease-in !important;
  }
.pin:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.2);
  -webkit-transform: translateY(-1px);
  }
.pin-view .piece,
.pin-view .repin-info-piece .unit{
  box-shadow: 0 0 0 2px rgba(0,0,0,.04);
}

.btn {
  background: #ededed;
  border: 1px solid #ededed;
  box-shadow: 0 0 0 transparent;
}

.btn:hover {
  text-decoration: none;
  color: #444;
  background: #d9d9d9;
  box-shadow: none;
  border: 1px solid #d9d9d9;
}

.rbtn {
  background: #E53E49;
  box-shadow: none;
  text-shadow: none;
  border:  none
}
.rbtn:hover {
  background: #c90000;
  color: #fff;
  box-shadow:none;
  border: 0 none;
}

/*个人主页*/

#user_card {
  box-shadow: 0 0 2px rgba(0,0,0,.1);
}
#user_card .maozi {
  box-shadow: 0 0 2px rgba(0,0,0,.1);
}


/*频道页面*/
#category_nav_bar {
  background-size: 0;
  height: 160px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 0 1px #ededed inset;
}
#category_nav_bar .wrapper {
  height: 160px;
  text-align: center;
}
#category_nav_bar .title {
  display: inline-block;
  color: #444;
  float: none;
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  font-family: 'NotoSansHans-Thin';
  -webkit-font-smoothing: antialiased;
  padding-top: 45px;
  text-align: center;
  position: relative;
}
#category_nav_bar .navs a {
  color: #777;
}
#category_nav_bar .navs {
  float: none;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin-top: 21px;
}
#category_nav_bar .right {
  display: none;
}
#category_nav_bar .title:before,
#category_nav_bar .title:after {
  content: "";
  display: inline-block;
  margin: 15px;
  width: 40px;
  height: 1px;
  background-color: #bbb;
                                          
}